<include file="../Apps/Admin/View/_header.html" />
<div class="page-title">

    <div class="title-env">
        <h1 class="title">用户代币查询</h1>
        <p class="description">点劵详情</p>
    </div>
</div>


<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">


            <div class="panel-body">

                <div class="row">

                    <div class="col-sm-12">

                        <!-- Bordered + Striped Table -->

                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>#</th>

                                <th>订单号</th>
                                <th>appkey</th>
                                <th>点劵数量</th>
                                <th>获取日期</th>
                                <th>截止日期</th>

                            </tr>
                            </thead>

                            <tbody>
                            <foreach name="data" item="row">
                                <tr>
                                    <td>{$row.id}</td>

                                    <td>{$row.order_no}</td>
                                    <td>{$row.appkey}</td>
                                    <td>{$row.amount}</td>
                                    <td>{$row.stime|date="Y/m/d H:i",###}</td>
                                    <td>{$row.etime|date="Y/m/d H:i",###}</td>
                            </foreach>
                            </tbody>
                        </table>
                        {$page}

                    </div>
                </div>

            </div>


        </div>

    </div>
</div>
<include file="../Apps/Admin/View/_footer.html" />