<include file="../Apps/Admin/View/_header.html" />
<div class="page-title">

    <div class="title-env">
        <h1 class="title">订单管理</h1>
        <p class="description">列表</p>
    </div>
</div>


<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">


            <div class="panel-body">

                <div class="row">

                    <div class="col-sm-12">
                        <form method="get" action="/Member/money">
                            UID： <input type="text" class="seachInput" name="uid"  value="" />&nbsp;&nbsp;<button class="btn btn-success " type="submit">Search</button></form><br /><br />
                        <!-- Bordered + Striped Table -->

                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>UID</th>
                                <th>金豆余额</th>
                                <th>金豆收入</th>
                                <th>金豆支出</th>
                                <th>点劵收入</th>
                                <th>点劵支出</th>
                                <th>操作</th>
                            </tr>
                            </thead>

                            <tbody>
                            <foreach name="data" item="row">
                                <tr>
                                    <td>{$row.id}</td>
                                    <td>{$row.uid}</td>
                                    <td>{$row.amount}</td>
                                    <td>{$row.earn}</td>
                                    <td>{$row.spend}</td>
                                    <td>{$row.bonus_earn}</td>
                                    <td>{$row.bonus_spend}</td>
                                    <td><a class="btn btn-blue btn-icon btn-icon-standalone btn-icon-standalone-right btn-xs" href="/Member/moneyview/uid/{$row.uid}">
                                        <i class="fa-search"></i>
                                        <span>流水</span>
                                    </a>&nbsp;&nbsp;<a class="btn btn-blue btn-icon btn-icon-standalone btn-icon-standalone-right btn-xs" href="/Member/bonusview/uid/{$row.uid}">
                                        <i class="fa-search"></i>
                                        <span>点劵</span>
                                    </a></td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                        {$page}
                    </div>
                </div>

            </div>


        </div>

    </div>
</div>

<include file="../Apps/Admin/View/_footer.html" />