<include file="../Apps/Admin/View/_header.html" />
<div class="page-title">

    <div class="title-env">
        <h1 class="title">交易管理</h1>
        <p class="description">App支付方式管理</p>
    </div>
</div>


<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">


            <div class="panel-body">

                <div class="row">

                    <div class="col-sm-12">

                        <!-- Bordered + Striped Table -->
                        <a class="btn btn-blue" href="/App/payment_add_form">添加App支付渠道</a>

                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>名称</th>
                                <th>支付方式</th>
                                <th>操作</th>
                            </tr>
                            </thead>

                            <tbody>
                            <foreach name="data" item="row">
                                <tr>
                                    <td>{$row.id}</td>
                                    <td>{$row.appname}</td>
                                    <td>
                                        <php>
                                            $payments = json_decode($row['type'],true);
                                            $length = count($payments);
                                            $configs = C('PAYMENT_TYPE');

                                            foreach($payments as $k => $v){
                                                 if($payments[$k] == 1){
                                                        echo '<div class="pay_icon pay_icon_'.$k.'" title="'.$configs[$k]['name'].'"></div>';
                                                 }
                                            }
                                        </php>
                                    </td>
                                    <td>

                                        <a class="btn btn-sm btn-success" title="编辑" href="/App/payment_edit_form/id/{$row.id}">
                                            <i class="fa-edit"></i>
                                        </a>

                                        <button class="btn btn-sm btn-red" title="删除" onclick="MSGBOX.show('是否真的要删除？',function(){
                                location.href='/App/payment_del/id/{$row.id}'
                            });">
                                            <i class="fa-remove"></i>
                                        </button>
                                    </td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                        {$page}
                    </div>
                </div>

            </div>


        </div>

    </div>
</div>
<include file="../Apps/Admin/View/_footer.html" />